<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Finances Management Project</title>
</head>
<body>
  <div class="wrapper">
    <h1 class="title">Name of project</h1>
    <div class="container">
      <form action="/you" method="GET">
        <input type="text" placeholder="Insert your full name" class="name" name="name" required autocomplete="off">
        <input type="email" placeholder="Insert your email" class="email" name="email" required autocomplete="off">
        <input type="submit" class="submit-button" value="submit">
      </form>
    </div>
  </div>
</body>
</html>