<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Finances Management Project</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/you.css">
</head>
<body>
  <header>
    <nav>
      <ul class="nav-list">
        <li class="nav-item">
          <span class="span-text">You: </span><%= req.query.name %>
        </li>
        <li class="nav-item">
          <span class="span-text">Your email: </span><%= req.query.email %>
        </li>
      </ul>
    </nav>
  </header>
</body>
</html>